body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.container {
  width: 1450px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(https://previews.123rf.com/images/malydesigner/malydesigner1405/malydesigner140500162/28158270-light-cyan-background-texture.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  padding-top: 50px;
  font-size: 56px;
  letter-spacing: 8px;
  margin-bottom: 20px;
  color:white;
}
.top-wrapper h2{
  font-size:30px;
}
.top-wrapper p {
  margin-bottom: 10px;
  padding-top: 30px;
  padding-bottom:70px;
  font-size:20px;
}


header {
  height: 85px;
  width: 100%;
  background-color:lightcyan;
  opacity:0.8;
  position:fixed;
  top:0;
  z-index:10;
}
.tops1 li{
  float:left;
  padding:20px 30px;
    margin-left:15px;
   color:gray;
}
li{
  list-style:none;
}
.tops li{
float:left;
  padding:18px 25px;
    margin-left:15px;
   font-size:20px;
   color:darkgray;
}
.tops2{
  text-decoration:none;
}
.logo {
  width: 150px;
  height:90px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  background-color:darkcyan;
  opacity:0.3;
  border-radius: 10px;
  transition: all 0.5s;
}

.header-right:hover {
  background-color:blue;
  opacity:0.6;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: cyan;
  display: block;
}

.lesson-wrapper {
  height: 600px;
  padding-bottom: 80px;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 60px;
  padding-bottom: 30px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}
.heading h3{
  font-weight:normal;
}

.lesson {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon p {
  position: absolute;
  top: 90px;
  width: 100%;
  color: white;
}

.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 20px;
  font-size: 15px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
}

.sz
{
  height: 200px;
}
.rxv{
  height:80px;
  width:120px;
}
.last{
  color:black;
  font-size:30;
}
.nxp{
  height:65px;
  width:85px;
}